@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  h1,
  h2,
  h3 {
    @apply font-bold;
    @apply font-heading;
    @apply mx-auto;
    @apply text-center;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: min(100%, 1440px);
  overflow-x: hidden;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    padding: 0 70px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Sprite */
.sprite {
  background: url("./common/images/sprite.png") no-repeat top left;
  display: block;
}

/* Loader */
.signout::after {
  content: "";
  width: min(2.5%, 6px);
  height: min(10%, 15px);
  background: currentColor;
  position: absolute;
  bottom: min(30%, 18px);
  right: -10px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 #532c5900, 20px 0 #532c5900;
  }

  50% {
    box-shadow: 10px 0 #532c59, 20px 0 #532c5900;
  }

  100% {
    box-shadow: 10px 0 #532c59, 20px 0 #532c59;
  }
}

.loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  background: #532c5924;
  position: relative;
  overflow: hidden;
}

.loader::after {
  content: "";
  width: 0%;
  height: 4.8px;
  background-color: #fff;
  font-size: 15px;
  background-image: linear-gradient(
    45deg,
    #532c59 25%,
    transparent 25%,
    transparent 50%,
    #532c59 50%,
    #532c59 75%,
    transparent 75%,
    transparent
  );
  background-size: 1em 1em;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animFw 10s ease-in infinite, barStripe 1s linear infinite;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes animFw {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
